@font-face {
	font-family: 'maisonneue';
	src: url('/src/fonts/MaisonNeue-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'maisonneue';
	src: url('/src/fonts/MaisonNeue-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;